<div class="container p-2">
  <form class="form-inline justify-content-center parent">
    <input
      #searchInput
      class="form-control search-element wide"
      type="search"
      placeholder="Search"
      aria-label="Search"
      (input)="search(searchInput.value)"
    />
  </form>
  <div class="container p-0">
    <app-smart-list #recipeList [items]="recipes$">
      <ng-container *header="let item">
        <button
          class="btn btn-link"
          [class.collapsed]="!item.isOpen"
          (click)="recipeList.toggle(item.id)"
        >
          {{ item.name }}
        </button>
      </ng-container>
      <ng-container *content="let item">
        CONTENT
      </ng-container>
    </app-smart-list>
  </div>
</div>
