<div class="container p-2">
  <form class="form-inline justify-content-center parent">
    <input
      #searchInput
      class="form-control search-element wide"
      type="search"
      placeholder="Search"
      aria-label="Search"
      (input)="search(searchInput.value)"
    />
  </form>
  <div class="container p-0">
      <app-smart-list [items]="[1, 2, 3, 4]">
        <div *item="let item">
          <app-recipe-item></app-recipe-item>
        </div>
      </app-smart-list>
  </div>
</div>
